<%% title "Modifier <%= singular_name.titleize %>" %>

<%= render_form %>

<%- if actions? :show, :index -%>
<p>
<%- if action? :show -%>
  <%%= link_to "Voir", @<%= singular_name %> %> |
<%- end -%>
<%- if action? :index -%>
  <%%= link_to "Voir Tout", <%= plural_name %>_path %>
<%- end -%>
</p>
<%- end -%>
